<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/icons/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Logo
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <form class="form-inline ml-auto ">
      <input class="form-control mr-sm-2 searchBar" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/other">other </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">menu1</a>
          <a class="dropdown-item" href="#">menu2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">menu3</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
    </ul>

  </div>
</nav>